<div class="container card-head">
  <mat-card class="card-head-text shadow">BUY.ME</mat-card>
</div>

<div class="container card-head-products">
  <mat-card class="card-head-text shadow alinha-cards">
    <mat-card>FOTO</mat-card>
    <ul>
      <li>nomeProduto1</li>
      <li>valor</li>
    </ul>
  </mat-card>

  <mat-card class="card-head-text shadow alinha-cards">
    <mat-card>FOTO</mat-card>
  </mat-card>

  <mat-card class="card-head-text shadow alinha-cards">
    <mat-card>FOTO</mat-card>
  </mat-card>
</div>
